name: CI

on: [push]

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04-arm
          - os: ubuntu-latest
          - os: macos-latest
          - os: macos-15-intel
          - os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
      - name: Fetch test-data
        run: git submodule update --init
      - name: Run tests
        run: zig build test
      - name: Run lookup example
        run: zig build example_lookup
      - name: Run within example
        run: zig build example_within
